
EMAIL_ENABLED=true
EMAIL_SENDER=souai.rayen.rs@gmail.com
EMAIL_PASSWORD=xrgv aihq nlls klcy
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
ADMIN_NOTIFICATION_EMAILS= souai.rayen.rs@gmail.com

EMAIL_LOGO_URL=
